<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout</title>

  <style>

    .img1 {
      position: relative;
      top: 50px;
      left: 100px;
      margin-bottom: 40px;;
    }

    .img2 {
      position: absolute;
      right: 10px;
      top: 15px;
    }

    .img3 {
      position: absolute;
      bottom: 1px;
    }

    a {
      position: fixed;
      right: 15px;
      bottom: 15px;
    }

  </style>
</head>
<body>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <img src="../../images/dog.jpg" alt="dog" width="300px" class="img1">
  <img src="../../images/dog2.jpg" alt="dog2" width="300px" class="img2">
  <img src="../../images/dog3.jpg" alt="dog3" width="300px" class="img3">

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>
  
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores iure, voluptatum mollitia distinctio sapiente reiciendis nobis aperiam perferendis odit consectetur ipsa sequi illum alias cupiditate necessitatibus, accusamus blanditiis doloribus.</p>

  <a href="#">Click</a>

</body>
</html>