* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  width: 960px;
  margin: auto;
}

img {
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

header h1 {
  margin-bottom: 0;
}

header p {
  margin: 0;
}

.name {
  padding-top: 2px;
}

.main {
  margin-top: 50px;
}

.about {
  width: 400px;
  display: inline-block;
  border-right: 1px solid #000;
  padding: 10px;
  vertical-align: top;
}

.articles {
  width: 500px;
  display: inline-block;
  padding: 10px;
}