main {
  min-height: 1000px;
  margin: 30px 0;

  .cardHolder {
    .card {
      margin-top: 15px;
      &:hover {
        cursor: pointer;
      }
      .card-body {
        overflow: hidden;
        text-align: center;
      }
    }
  }
}

footer {
  height: 100px;
  padding: 34px;
  p {
    color: #f8f9fa;
  }
}
